@model ProductByTagsViewModel

﻿<section id="TheNewProducts" class="best-collection">
    <div class="container">
        <h1 class="collection-title">@Model.Title</h1>
       
        <div class="collection-grid">
            @foreach (var product in Model.NewProducts)
            {
                <a asp-action="ProductDetails" asp-controller="Products" asp-route-id="@product.ArticleNumber" class="collection-item">
                    <img src="images/placeholders/270x295.svg" alt="">
                    <div class="body">
                        <div class="title">@product.VendorName @product.ProductName</div>
                       
                        <div class="info">
                            <div class="price">@product.Price SEK</div>
                            <i class="add-cart fa-solid fa-cart-plus"></i>
                        </div>
                    </div>
                </a>
                
            }
        </div>
        <div class="collection-grid">
            @foreach (var product in Model.PopularProducts)
            {
                <a asp-action="ProductDetails" asp-controller="Products" asp-route-id="@product.ArticleNumber" class="collection-item">
                    <img src="images/placeholders/270x295.svg" alt="">
                    <div class="body">
                        <div class="title">@product.ProductName</div>
                        <div class="info">
                            <div class="price">@product.Price SEK</div>
                            <i class="add-cart fa-solid fa-cart-plus"></i>
                        </div>
                    </div>
                </a>

            }
        </div>
        <div class="collection-grid">
            @foreach (var product in Model.FeaturedProducts)
            {
                <a asp-action="ProductDetails" asp-controller="Products" asp-route-id="@product.ArticleNumber" class="collection-item">
                    <img src="images/placeholders/270x295.svg" alt="">
                    <div class="body">
                        <div class="title">@product.ProductName</div>
                        <div class="info">
                            <div class="price">@product.Price SEK</div>
                            <i class="add-cart fa-solid fa-cart-plus"></i>
                        </div>
                    </div>
                </a>

            }
        </div>
        
    </div>
</section>